# PostgreSQL environment variables
POSTGRES_USER=postgres
POSTGRES_PASSWORD=StrongP@ssw0rd123
POSTGRES_DB=unilostitem_prod
POSTGRES_PORT=5432

# Database Configuration
DefaultConnection=Host=postgres;Port=${POSTGRES_PORT};Database=${POSTGRES_DB};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}

# Logging Configuration
SeqServerUrl=http://seq:5341

# Seq environment variables
ACCEPT_EULA=Y
SEQ_FIRSTRUN_ADMINUSERNAME=admindev
SEQ_FIRSTRUN_ADMINPASSWORD=admindev
