# PostgreSQL environment variables
POSTGRES_USER=postgres
POSTGRES_PASSWORD=StrongP@ssw0rd123
POSTGRES_DB=cqrscleanlayernet9template_prod
POSTGRES_PORT=5432

# Database Configuration
DefaultConnection=Host=postgres;Port=${POSTGRES_PORT};Database=${POSTGRES_DB};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}

# Logging Configuration
SeqServerUrl=http://seq:5341

# Seq environment variables
ACCEPT_EULA=Y
SEQ_FIRSTRUN_ADMINUSERNAME=admindev
SEQ_FIRSTRUN_ADMINPASSWORD=admindev

# JWT Configuration
# Change SecretKey to a very long and secure random string in production!
Jwt__SecretKey=CHANGEME_USE_A_VERY_LONG_AND_SECURE_RANDOM_STRING_HERE_AT_LEAST_64_CHARACTERS
Jwt__Issuer=CqrsCleanLayerDotNET9TemplateAPI
Jwt__Audience=CqrsCleanLayerDotNET9TemplateClient
Jwt__AccessTokenExpirationMinutes=60
Jwt__RefreshTokenExpirationDays=7
