# PostgreSQL environment variables
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=cqrscleanlayernet9template_dev

#POSTGRES_PORT=5432 # for docker development environment
POSTGRES_PORT=5499 # for local development environment


# Database Configuration
#DefaultConnection=Host=postgres;Port=${POSTGRES_PORT};Database=${POSTGRES_DB};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD} # for docker development environment
DefaultConnection=Host=localhost;Port=${POSTGRES_PORT};Database=${POSTGRES_DB};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD} # for local development environment




# Logging Configuration
#SeqServerUrl=http://seq:5341 # for docker development environment
SeqServerUrl=http://localhost:5399 # for local development environment




# Seq environment variables
ACCEPT_EULA=Y
SEQ_FIRSTRUN_ADMINUSERNAME=admindev
SEQ_FIRSTRUN_ADMINPASSWORD=admindev

# Docker Compose environment variables
DOTNET_USE_POLLING_FILE_WATCHER=true
DOTNET_WATCH_SUPPRESS_LAUNCH_BROWSER=true
DOTNET_WATCH_RESTART_ON_RUDE_EDIT=true

# JWT Configuration
Jwt__SecretKey=SuperSecretKeyMustBeLongEnoughForHmacSha512SecurityAlgorithm_AtLeast64BytesLong_BlaBlaBla123
Jwt__Issuer=CqrsCleanLayerDotNET9TemplateAPI
Jwt__Audience=CqrsCleanLayerDotNET9TemplateClient
Jwt__AccessTokenExpirationMinutes=60
Jwt__RefreshTokenExpirationDays=7
