# PostgreSQL environment variables
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=unilostitem_dev
POSTGRES_PORT=5432

# Database Configuration
DefaultConnection=Host=postgres;Port=${POSTGRES_PORT};Database=${POSTGRES_DB};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}

# Logging Configuration
SeqServerUrl=http://seq:5341

# Seq environment variables
ACCEPT_EULA=Y
SEQ_FIRSTRUN_ADMINUSERNAME=admindev
SEQ_FIRSTRUN_ADMINPASSWORD=admindev

# Docker Compose environment variables
DOTNET_USE_POLLING_FILE_WATCHER=true
DOTNET_WATCH_SUPPRESS_LAUNCH_BROWSER=true
DOTNET_WATCH_RESTART_ON_RUDE_EDIT=true
