# Database Configuration
DefaultConnection=Data source=dbnameee.db

# Logging Configuration
SeqServerUrl=http://seq:5341

# Seq environment variables
ACCEPT_EULA=Y
SEQ_FIRSTRUN_ADMINUSERNAME=admindev
SEQ_FIRSTRUN_ADMINPASSWORD=admindev

# Docker Compose environment variables
DOTNET_USE_POLLING_FILE_WATCHER=true
DOTNET_WATCH_SUPPRESS_LAUNCH_BROWSER=true
DOTNET_WATCH_RESTART_ON_RUDE_EDIT=true
